accelerate==1.6.0
datasets==3.6.0
diffusers==0.31.0
huggingface-hub==0.30.2
image-reward==1.5
iopath==0.1.10
matplotlib==3.10.1
multidict==6.4.3
numpy==2.2.1
omegaconf==2.3.0
openai-clip==1.0.1
openai==1.77.0
opencv-python==4.11.0.86
pandas==2.2.3
PyYAML==6.0.2
ruamel.yaml==0.18.6
scikit-learn==1.6.1
t2v_metrics==1.2
tqdm
torch>=2.5.0
